.waf*
.lock*
build
bin/applyNuMIGeomtryWeights
bin/bdt_convert
bin/check_failures
bin/CNN_event_info_filter
bin/convert_checkout_hist
bin/convert_checkout_hist_xs
bin/convert_cv
bin/convert_cv_spec
bin/det_cov_matrix
bin/eval_vlne
bin/event_info_filter
bin/gen_training_list
bin/merge_det
bin/merge_hist
bin/merge_hist_sp
bin/merge_hist_time
bin/merge_hist_xs
bin/merge_pelee_filter
bin/merge_xf
bin/numi_filter
bin/plot_hist
bin/plot_hist_0pNp
bin/plot_hist_0pNp_angle
bin/plot_hist_0pNp_runbyrun
bin/plot_hist_angle
bin/plot_hist_ncpi1g
bin/plot_hist_scale
bin/plot_hist_sp_beam_ratio
bin/plot_hist_sp_ncpi0
bin/plot_hist_sp_nue
bin/plot_hist_sp_numu
bin/plot_hist_sp_other
bin/plot_hist_sp_preselection
bin/plot_hist_sp_time
bin/plot_hist_time_paper
bin/plot_hist_xspaper
bin/plot_hist2
bin/pot_counting
bin/pot_counting_mc
bin/print_event
bin/prune_checkout_trees
bin/prune_weightmar18_trees
bin/prune_weightsep24_partial_trees
bin/prune_weightsep24_trees
bin/read_TLee_v20
bin/sideband_filter
bin/stat_cov_matrix
bin/stat_pred_cov_matrix
bin/test_apply_cuts
bin/test_gp
bin/test_readout
bin/time_dep
bin/time_dep_ext
bin/wiener_example
bin/xf_cov_matrix
bin/xs_cov_matrix
lib/libWCPuBooNE_BDT_APP.rootmap
lib/libWCPuBooNE_BDT_APP.so
lib/WCPuBooNE_BDT_APPDict_rdict.pcm
.vscode/c_cpp_properties.json
.vscode/settings.json
processed_checkout_rootfiles/prodgenie_bnb_nu_overlay_run3/UBGenieFluxSmallUni_hist.root
processed_checkout_rootfiles/prodgenie_bnb_nu_overlay_run3/UBGenieFluxSmallUni.root
weight_files/bnboverlay_run3/UBGenieFluxSmallUni.root
weights/br3_3_BDT.weights.xml
weights/br3_5_BDT.weights.xml
weights/br3_6_BDT.weights.xml
weights/copy.pl
weights/cos_tagger_10.weights.xml
weights/lol_1_BDT.weights.xml
weights/lol_2_BDT.weights.xml
weights/NC_delta_0_track_final.xml
weights/NC_delta_N_track_final.xml
weights/NC_Delta_prev_training_plus_even_subrun_ncpi0_ncdelta.xml
weights/ncpio_weights_TMVA.xml
weights/numu_scalars_scores_0923.xml
weights/numu_tagger1.weights.xml
weights/numu_tagger2.weights.xml
weights/pio_2_BDT.weights.xml
weights/sig_1_BDT.weights.xml
weights/sig_2_BDT.weights.xml
weights/single_photon_ncpi0_bdt_final.xml
weights/single_photon_ncpi0_bdt_test.xml
weights/single_photon_nue_bdt_final.xml
weights/single_photon_nue_bdt_test.xml
weights/single_photon_numu_bdt_final.xml
weights/single_photon_numu_bdt_test.xml
weights/single_photon_other_bdt_final.xml
weights/single_photon_other_bdt_test.xml
weights/stw_2_BDT.weights.xml
weights/stw_3_BDT.weights.xml
weights/stw_4_BDT.weights.xml
weights/tro_1_BDT.weights.xml
weights/tro_2_BDT.weights.xml
weights/tro_4_BDT.weights.xml
weights/tro_5_BDT.weights.xml
weights/XGB_nue_seed2_0923.xml
weights/xgboost_set8seed7_kaicheng_0819.xml
weights/backup/br3_3_BDT.weights.xml
weights/backup/br3_5_BDT.weights.xml
weights/backup/br3_6_BDT.weights.xml
weights/backup/index.html?C=D;O=A
weights/backup/index.html?C=D;O=D
weights/backup/index.html?C=M;O=A
weights/backup/index.html?C=M;O=D
weights/backup/index.html?C=N;O=A
weights/backup/index.html?C=N;O=D
weights/backup/index.html?C=S;O=A
weights/backup/index.html?C=S;O=D
weights/backup/index.html.tmp
weights/backup/lol_1_BDT.weights.xml
weights/backup/lol_2_BDT.weights.xml
weights/backup/pio_2_BDT.weights.xml
weights/backup/sig_1_BDT.weights.xml
weights/backup/sig_2_BDT.weights.xml
weights/backup/stw_2_BDT.weights.xml
weights/backup/stw_3_BDT.weights.xml
weights/backup/stw_4_BDT.weights.xml
weights/backup/tro_1_BDT.weights.xml
weights/backup/tro_2_BDT.weights.xml
weights/backup/tro_4_BDT.weights.xml
weights/backup/tro_5_BDT.weights.xml
weights/backup/xgboost_set8seed7_kaicheng_0819.xml
bin/
lib/
lib64/
